<!DOCTYPE html>

<html lang="ro">

<head>
    <!--titlu-->
    <title>2roti</title>

    <!--tag-uri meta charset, keywords, author, description-->
    <meta name="keywords" content="motocicleta, echipament, piese, casca, moto">
    <meta name="description" content="2roti - Magazin online de piese, accesorii si echipament pentru motociclete">

    <%- include("../fragmente/head.ejs"); %>

</head>

<body>
    <%- include("../fragmente/header.ejs"); %>

        <main>
            <div id="grid-pagina">
                <!--folosirea tag-urilor section p ol ul-->
                <section id="prezentare">
                    <h2><i class="fa-solid fa-circle-info"></i> Despre Noi</h2>

                    <p>
                        Magazinul nostru <em>moto</em> oferă o gamă largă de
                        <b>echipamente , accesorii și piese de calitate</b>
                        superioară pentru toți pasionații de
                        <b>motociclete</b> . De la <b>căști</b> și jachete, la
                        pantaloni și încălțăminte, avem tot ce ai nevoie pentru
                        a-ți completa <b>echipamentul</b> și a fi pregătit să
                        urci pe <b>motocicletă</b> . În plus, oferim o gamă
                        largă de <b>accesorii</b> pentru a-ți personaliza
                        <em>motocicleta</em> ta, inclusiv oglinzi, lumini,
                        parbrize și multe altele. Și dacă ai nevoie de piese de
                        schimb pentru motocicleta ta, ai venit la locul
                        potrivit. Avem o gamă largă de piese de schimb de înaltă
                        calitate, inclusiv
                        <i>filtre de aer , bujii și elemente de frânare</i>.
                        Magazinul nostru moto este întotdeauna actualizat cu
                        cele mai noi și mai bune produse de pe piață.
                        Vizitează-ne pentru a găsi tot ce ai nevoie pentru o
                        experiență de condus plăcută și în siguranță pe
                        motocicletă.
                    </p>

                    <button class="btn btn-primary">buton</button>
                    <!--imagine cu descriere-->
                    <figure id="imagine_prezentare">
                        <picture>
                            <!--se va lua prima sursa care se potriveste-->
                            <source media="(max-width: 600px)" srcset="/resurse/images/front_small.jpg">
                            <source media="(max-width: 1000px)" srcset="/resurse/images/front_med.jpg">
                            <source media="(max-width: 2000px)" srcset="/resurse/images/front.jpg">
                            <img id="img_store" src="/resurse/images/front_small.jpg" alt="Store Front">
                        </picture>

                        <figcaption>Magazinul 2roti din Bucuresti</figcaption>
                    </figure>

                    <section id="service">
                        <h3>
                            <i class="fa-solid fa-wrench"></i>
                            Service
                        </h3>

                        <p>
                            <i>Service-ul</i> nostru de reparații și întreținere
                            pentru motociclete oferă o gamă completă de servicii
                            pentru a-ți menține motocicleta în cea mai bună
                            stare de funcționare:
                        </p>

                        <ul>
                            <li>Verificare Motocicleta</li>
                            <li>Revizie Lant</li>
                            <li>Reglaj Suspensie</li>
                            <li>Sincronizare Carburatoare</li>
                            <li>Revizie Amortizoare</li>
                            <li>Schimb Ulei</li>
                        </ul>

                        <p>
                            Lista completa a serviciilor noastre poate fi
                            descarcata de
                            <a href="resurse/docs/service.pdf" download="lista_servicii" class="link_intern">aici</a>
                        </p>
                    </section>
                </section>

                <div id="tabel">
                    <h2><i class="fa-solid fa-clock"></i>Program</h2>

                    <table id="orar">
                        <caption>
                            2Roti - program
                        </caption>
                        <thead>
                            <tr>
                                <th colspan="3">Magazin</th>
                                <th colspan="2">Test-Ride</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Luni</td>
                                <td>08:00</td>
                                <td>18:00</td>
                                <td>10:00</td>
                                <td>14:00</td>
                            </tr>

                            <tr>
                                <td>Marti</td>
                                <td>08:00</td>
                                <td>18:00</td>
                                <td>10:00</td>
                                <td>14:00</td>
                            </tr>

                            <tr>
                                <td>Miercuri</td>
                                <td>08:00</td>
                                <td>18:00</td>
                                <td>10:00</td>
                                <td>14:00</td>
                            </tr>

                            <tr>
                                <td>Joi</td>
                                <td>08:00</td>
                                <td>18:00</td>
                                <td>10:00</td>
                                <td>14:00</td>
                            </tr>

                            <tr>
                                <td>Vineri</td>
                                <td>08:00</td>
                                <td>18:00</td>
                                <td>12:00</td>
                                <td>18:00</td>
                            </tr>

                            <tr>
                                <td>Sambata</td>
                                <td>10:00</td>
                                <td>14:00</td>
                                <td>10:00</td>
                                <td>14:00</td>
                            </tr>

                            <tr>
                                <td>Duminica</td>
                                <td>10:00</td>
                                <td>13:00</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">Programare Test-Ride: 0712345678</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <section id="calendar">
                    <h2><i class="fa-solid fa-calendar"></i>Calendar</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Facere sint, voluptates fugiat mollitia maiores repellat
                        porro fugit exercitationem. Accusantium minus non libero
                        totam rem modi quae est sapiente sed hic!
                    </p>
                </section>

                <section id="anunturi">
                    <h2><i class="fa-solid fa-bullhorn"></i>Anunturi</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Architecto nulla iusto, iste ipsam accusantium,
                        cupiditate veniam soluta asperiores iure odit nostrum?
                        Nulla commodi, voluptatem atque molestias aliquam ex
                        quia. Deserunt!
                    </p>
                </section>

                <section id="utilizatori">
                    <h2><i class="fa-solid fa-users"></i>Utilizatori</h2>
                    <ul>
                        <li>utilizator1</li>
                        <li>utilizator2</li>
                        <li>utilizator3</li>
                        <li>utilizator4</li>
                        <li>utilizator5</li>
                    </ul>
                </section>

                <section id="stats">
                    <h2><i class="fa-solid fa-chart-simple"></i>Statistici</h2>
                    <ul>
                        <li>Suneteti logat ca: utilizator1</li>
                        <li>Timp Online: 2 ore</li>
                        <li>Rank Client: Gold</li>
                        <li>Nr. accesari azi: 999</li>
                        <li>Nr. accesari all-time:23943232</li>
                        <li>IP: <%- locals.ip %></li>
                    </ul>
                </section>

                <section id="server">
                    <h2><i class="fa-solid fa-server fa-fade"></i>Server</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur illo quisquam sed ipsum assumenda expedita
                        praesentium odit molestiae amet, est, unde quod
                        cupiditate maxime incidunt harum ipsam nobis
                        exercitationem! Distinctio.
                    </p>
                </section>

                <div id="diverse">
                    <section id="echipament">
                        <h2>
                            <i class="fa-solid fa-shirt"></i>Alegerea corecta a
                            echipamentului
                        </h2>

                        <!--text preluat de pe motoincepatori.ro-->
                        <p>
                            Experienţele unui motociclist la început de drum
                            devin mai târziu amintiri de neuitat. Pentru că
                            entuziasmul tău ca proaspăt motociclist este foarte
                            mare, s-ar putea să îţi scape anumite lucruri
                            esenţiale. Aşadar, nu uita sub nicio formă de
                            echipament şi de importanţa acestuia! Pentru un ghid
                            detaliat puteti accesa site-ul producatorului de
                            motociclete
                            <a href="https://triumphromania.ro/alegerea-echipamentului-moto-recomandari-pentru-incepatori/"
                                target="_blank" class="link_extern">Triumph</a>
                            sau videoclipuri precum cele de mai jos:
                        </p>

                        <!--iframe-->
                        <div id="video-flex">
                            <div id="butoane-video">
                                <a href="https://www.youtube.com/embed/6Rx-dyDU888" target="ifr">Est Bike Constanta</a>
                                <a href="https://www.youtube.com/embed/V5ZHmTCxEtU" target="ifr">Yammie Noob</a>
                            </div>
                            <iframe id="ifr-video" src="https://www.youtube.com/embed/V5ZHmTCxEtU" name="ifr"></iframe>
                        </div>
                    </section>

                    <!--sectiune details and summary-->
                    <section id="intrebari_frecvente">
                        <h2>
                            <i class="fa-solid fa-circle-question"></i>Întrebări
                            frecvente
                        </h2>
                        <details>
                            <summary>
                                Ce înseamnă cilindreea unei motociclete?
                            </summary>
                            Cilindreea unei motociclete este volumul total al
                            cilindrilor motorului și este măsurată în centimetri
                            cubi sau în litri. Este o indicație a capacității și
                            puterii motorului și poate afecta performanța și
                            consumul de combustibil al motocicletei.
                        </details>

                        <details>
                            <summary>
                                Cum aleg dimensiunea potrivită a motocicletei?
                            </summary>
                            Alegerea dimensiunii potrivite a motocicletei
                            depinde de înălțimea și greutatea ta, de nivelul tău
                            de experiență și de tipul de utilizare pe care îl ai
                            în vedere. Cel mai bine este să testezi mai multe
                            motociclete pentru a vedea care se potrivește cel
                            mai bine nevoilor tale.
                        </details>
                        <details>
                            <summary>
                                De câte ori ar trebui să schimb uleiul și
                                filtrul de ulei?
                            </summary>
                            Producătorii de motociclete recomandă de obicei
                            schimbarea uleiului și a filtrului de ulei la
                            fiecare 5.000-10.000 de kilometri sau la intervale
                            de 6-12 luni, în funcție de model și de condițiile
                            de utilizare.
                        </details>
                        <details>
                            <summary>
                                Care este durata de viață a anvelopelor
                                motocicletei?
                            </summary>
                            Durata de viață a anvelopelor motocicletei depinde
                            de mai mulți factori, cum ar fi stilul de conducere,
                            condițiile de drum și frecvența utilizării. De
                            obicei, anvelopele motocicletei ar trebui schimbate
                            la fiecare 5.000-10.000 de kilometri sau la
                            intervale de 2-3 ani.
                        </details>
                    </section>
                </div>

                <%- include("../fragmente/galerie_statica.ejs"); %>



        </main>

        <div id="acasa" title="Acasa">
            <a href="#logo2">
                <div id="triunghi-acasa"></div>
            </a>
        </div>


        <div id="watermark"></div>

        <%- include("../fragmente/footer.ejs"); %>
</body>

</html>